.Burger {
  width: 600px;
  margin: auto;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  height: 500px;
}

@media (max-width: 600px) {
  .Burger {
    width: 500px;
    height: 400px;
  }
}

@media (max-width: 500px) {
  .Burger {
    width: 400px;
    height: 350px;
  }
}

@media (max-width: 350px) {
  .Burger {
    width: 200px;
    height: 250px;
  }
}

.Burger p {
  font-size: 1.5rem;
  background: #aaa;
  display: inline;
  padding: 5px 20px;
  font-weight: bolder;
  color: white;
}